#like
{
  background-color: aqua;
  width: 200px;
  border-radius: 30px;
  text-align: center;
}

.red
{
  color: red;
}

.green
{
  color: green;
}

.left
{
  margin-right: 500px;
}

.right
{
  margin-left: 500px;
}